$title-grey: rgb(90, 90, 90);
$white: white;
$font-family: 'Times New Roman', Times, serif;
$tab-title-size: 20px;
$card-title-size: 35px;
$card-subtitle-size: 25px;
$card-content-size: 18px;

ion-content {
    --ion-background-color: rgba(22, 22, 22, 0.5);
}
.my-ion-content{
    background-color: rgb(46, 43, 43);
}
.my-ion-title{
    font-size: $tab-title-size;
    text-align: center;
    font-family: $font-family;
    color: $title-grey;
}
.my-titel{
    font-size: $card-title-size;
    text-align: center;
    font-family: $font-family;
    color: $white;
}
.my-subtitle{
    font-size: $card-subtitle-size;
    font-family: $font-family;
    color: $white;
    text-align: center;
}
.mycard-content{
    font-weight: bold;
    color: $white;
    text-align: center;
    padding-bottom: 40px;
}
.my-button{
    font-weight: bold;
    width: 160px;
}
.my-p{
    font-size: $card-content-size;
    font-family: $font-family;
}

.my-button-background {
    text-align: center;
    margin:auto;
    position: fixed;
    width: 100%;
    background-color: rgba(110, 110, 110, 0.739);
    bottom: 0px;
}