<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <!--<ion-button (click)="onOpenMenu()">
        Open
      </ion-button>-->
    </ion-buttons>
    <ion-title class="my-ion-title">Discover Events</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
      <ion-list *ngFor="let party of loadedPartys">   
        <ion-card [routerLink] = "['/tabs/partys', party.id]" detail>
          <ion-card-header>
            <ion-grid>
              <ion-row class="ion-justify-content-center ion-align-items-center">
                <ion-col size="auto">
                  <ion-icon class="my-ion-icon" name="pin-sharp"></ion-icon>
                </ion-col>
                <ion-col size="auto">
                  <ion-card-title class="my-titel">{{ party.title }}</ion-card-title>
                </ion-col>
                <ion-col size="auto">
                  <ion-button class="my-ion-button" fill="outline" color="primary">
                    VIEW
                  </ion-button>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-card-subtitle class="my-subtitle">{{party.partyOrt.name}}</ion-card-subtitle>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-header>
          <ion-img [src]="party.imgURL"></ion-img>
          <ion-card-content class="mycard-content">
            <p>{{party.date}}</p>
            <p>{{party.price | currency:'CHF'}} / Entry</p>
          </ion-card-content>
        </ion-card>
      </ion-list>
</ion-content>