<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <!--<ion-button (click)="onOpenMenu()">
        Open
      </ion-button>-->
    </ion-buttons>
    <ion-title>Discover Events</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid class="my-grid">
    <ion-row>
      <ion-list class="my-list">
        <ion-item *ngFor="let party of loadedPartys">
            <ion-card [routerLink] = "['/tabs/partys', party.id]" detail>
              <ion-card-header>
                <ion-card-title class="my-titel">{{ party.title }}</ion-card-title>
                <ion-card-subtitle class="my-subtitle">{{party.price | currency:'CHF'}} / Entry</ion-card-subtitle>
              </ion-card-header>
              <ion-img [src]="party.imgURL"></ion-img>
              <ion-card-content class="mycard-content">
                <p>{{party.date}}</p>
                <p>{{party.description}}</p>
              </ion-card-content>
              <div class="my-ion-button">
                <ion-button fill="clear" color="primary">
                More
                </ion-button>
              </div>
            </ion-card>
        </ion-item>
      </ion-list>
    </ion-row>
  </ion-grid>
</ion-content>