.my-button {
  font-weight: bold;
  width: 160px;
}

div {
  text-align: center;
}
ion-card {
  display: flex;
  flex-direction: column;
  margin: 0 !important;
  width: 500px;
}
ion-content ion-card {
  width: 100%;
}
